@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Ensure full height for the root element */
html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}